html
	head
		title
			| Home
	body(onload = "init()")
		
		p Welcome, Please Select your Prefered Games (up to 5 games):
		
		#selections
		
		button(id = "button", onclick = "sendToServer()") Send Choices
		
		#first 1.
		#second 2.
		#third 3.
		#fourth 4.
		#last 5.
		
		script(src = "./client.js")